{% extends 'core/base.html' %}
{% load static %}
{% load remove_normal %}
{% load humanize %}
{% load mathfilters %}
{% block content %}
<style>
.btn-outline-white {
    color: #fff !important;
    background-color: transparent !important;
    border: 2px solid #fff !important;
}



</style>

    <div class="container  text-center testdata">
        <h2>  </h2>
        <div class="jumbotron card card-image">
          <div class="text-white text-center py-5 px-4">
            <div>
              <h2 id="eligible_header" class="card-title h1-responsive pt-3 font-bold text-uppercase"><strong>AM I ELIGIBLE TO WIN</strong></h2>
                <span id="profile_decision" class="text-primary" style="font-size: 72px">?</span>
              <p class="mx-5 mb-5" id="profile_decision_info">Determine if your account is eligible to win giveaways
              </p>
{#        <div id="account_tips"  class="container" style="max-width:800px;margin-right:auto;margin-left:auto;">#}
{#            Here are some tips to become eligible to win future giveaways!<br>#}
{#            <div class="row text-center">#}
{#            </hr>#}
{#            <ul class="list-group">#}
{#                <li class="list-group-item">Cras justo odio</li>#}
{#                <li class="list-group-item">Dapibus ac facilisis in</li>#}
{#                <li class="list-group-item">Morbi leo risus</li>#}
{#                <li class="list-group-item">Porta ac consectetur ac</li>#}
{#                <li class="list-group-item">Vestibulum at eros</li>#}
{#            </ul>#}
{#        <ul class="column text-md-left text-info" style="list-style-type:square; padding-left: 2px;">#}
{#            Tips to make your account eligible:#}
{#            <li>Make sure your account is older than 60 days</li>#}
{#            <li>Remove old giveaways from your timeline</li>#}
{#            <li>Use your Twitter account regularly and interact with tweets</li>#}
{#          </ul>#}
{#            </div>#}
        </div>

        <button href="javascript:void(0)"
        id="btn_buy"
         type="button" class="btn btn-lg btn-block font-medium btn-outline-success">
         <i class="far fa-hand-point-left ml-1 mr-3"></i>
         Cost: <span id="judgement_credits"><img src="{% static 'assets/images/coin-xs.png' %}" style="padding-top: 3px;width: 16px; vertical-align: text-top;">{{ credit_price }}.</span>
         <span class="text-warning">Need more grid coins</span></button>

                    <button href="javascript:void(0)"
                           id="btn_judgement_day"
                            type="button" class="btn btn-lg btn-block font-medium btn-outline-success block-card">
                            <i class="fas fa-gavel ml-1"></i> 
                            Cost: <span id="judgement_credits"><img src="{% static 'assets/images/coin-xs.png' %}" style="padding-top: 3px;width: 16px; vertical-align: text-top;">{{ credit_price }}</span>
                            <span class="text-info" style="font-size:0.9rem;">(you will have remaing : <img src="{% static 'assets/images/coin-xs.png' %}" style="padding-top: 3px;width: 16px; vertical-align: text-top;">{{ current_credit|sub:credit_price }})</span>
                        </button>
{#              <a class="btn btn-outline-white btn-md"><i class="fas fa-clone left"></i> View project</a>#}
            </div>
          </div>
        </div>
    </div>

{% endblock %}

{% block extra_scripts %}
    <script>
        var credit_price = {{credit_price}};
        var current_credit = {{current_credit}};
        console.log(current_credit, credit_price)
        function numberWithCommas(x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }
        $(function(){
            if(current_credit < credit_price){
                $("#btn_buy").show()
                $("#btn_judgement_day").hide()
            }else{
                $("#btn_buy").hide()
                $("#btn_judgement_day").show()
            }
            $("#btn_buy").click(function(){
                location.href="/wallet?need=" + (credit_price - current_credit) + "&cart=judge";
            })
        })
        function do_analyze(){
            $("#profile_decision").html("<div class=\"spinner-border text-success\" role=\"status\">\n" +
                "                                  <span class=\"sr-only\">Loading...</span>\n" +
                "                                </div>")

            $.ajax(
                {
                type: "GET",
                url: "/analyzer/profile",
                dataType: 'json',
                success: function (data) {
                    if (data.success === true) {
                        /*$("#all_results").show()*/
                        $("#btn_buy").hide()
                        $("#btn_judgement_day").hide()
                        if(data.profile_analysis){
                            $("a[href='/wallet'] span").html(numberWithCommas(data.current_credit));
                        }
                        if (data.profile_analysis.bot_prediction == true) {
                            $("#eligible_header").html("Awww man...")
                            $("#profile_decision").html("<i class=\"fas fa-frown\"></i>")
                            $("#profile_decision_info").html("Unfortunately your account is not currently eligible to win<br> GridGamingIO Twitter Giveaways! <hr>See our <button type=\"button\" class=\"btn btn-success\" data-toggle=\"modal\" data-target=\"#success-header-modal\">Profile Tips</button> to become eligible! ")
                        } else if (data.profile_analysis.bot_prediction == false) {
                            $("#eligible_header").html("Congratulations, <b class='text-warning'>{{ request.user.username }}</b>!")
                            $("#profile_decision").html("<i class=\"text-megna fas fa-smile\"></i>")
                            $("#profile_decision_info").html("Your account is eligible to win GridGamingIO Twitter Giveaways!")
                        } else {
                            $("#profile_decision").html("Please try again")
                        }
                    } else {
                        $("#profile_decision").html(data.msg)
                    }
                }
            })
        }
        $("#btn_judgement_day").click(function () {
            do_analyze();
            return;
            if(current_credit >= credit_price){
                do_analyze();
            }else{
                swal.fire({
                title: 'Are you sure?',
                icon: 'warning',
                text: "You have not enough credit for analyzing. Are you going to buy credit?",
                showCancelButton: true,
                background: '#e9ecef',
                confirmButtonColor: '#21c1d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, buy credit'
                }).then((result) => {
                    if (result.value) {
                        location.href="/wallet?need=" + (credit_price - current_credit) + "&cart=judge";
                    } else if (result.dismiss === Swal.DismissReason.cancel) {

                    }
                })
            }
        })

    $(function() {
    $('.block-card').on('click', function() {
        var block_ele = $(this).closest('.card');
        $(block_ele).block({
            message: '<i class="fas fa-spin fa-sync text-white"></i>',
            timeout: 5000, //unblock after 2 seconds
            overlayCSS: {
                backgroundColor: '#000',
                opacity: 0.5,
                cursor: 'wait'
            },
            css: {
                border: 0,
                padding: 0,
                backgroundColor: 'transparent'
            }
        });
    });

    // Block sidebar
    $('.block-sidenav').on('click', function() {
        var block_ele = $('.left-sidebar');
        $(block_ele).block({
            message: '<i class="fas fa-spin fa-sync text-white"></i>',
            timeout: 5000, //unblock after 2 seconds
            overlayCSS: {
                backgroundColor: '#000',
                opacity: 0.5,
                cursor: 'wait'
            },
            css: {
                border: 0,
                padding: 0,
                backgroundColor: 'transparent'
            }
        });
    });


    // Block page
    $('.block-default').on('click', function() {
        $.blockUI({
            message: '<i class="fas fa-spin fa-sync text-white"></i>',
            timeout: 10000, //unblock after 2 seconds
            overlayCSS: {
                backgroundColor: '#000',
                opacity: 0.5,
                cursor: 'wait'
            },
            css: {
                border: 0,
                padding: 0,
                backgroundColor: 'transparent'
            }
        });
    });

    // onBlock callback
    $('.onblock').on('click', function() {
        $.blockUI({
            message: '<i class="fas fa-spin fa-sync text-white"></i>',
            fadeIn: 1000,
            timeout: 10000, //unblock after 2 seconds
            overlayCSS: {
                backgroundColor: '#000',
                opacity: 0.5,
                cursor: 'wait'
            },
            css: {
                border: 0,
                padding: 0,
                color: '#333',
                backgroundColor: 'transparent'
            },
            onBlock: function() {
                alert('Page blocked!');
            }
        });
    });


    // onUnblock callback
    $('.onunblock').on('click', function() {
        $.blockUI({
            message: '<i class="fas fa-spin fa-sync text-white"></i>',
            timeout: 5000, //unblock after 2 seconds
            overlayCSS: {
                backgroundColor: '#000',
                opacity: 0.5,
                cursor: 'wait'
            },
            css: {
                border: 0,
                padding: 0,
                color: '#333',
                backgroundColor: 'transparent'
            },
            onUnblock: function() {
                alert('Page unblocked!');
            }
        });
    });


    // Overlay callback
    $('.onoverlay-click').on('click', function() {
        $.blockUI({
            message: '<i class="fas fa-spin fa-sync text-white"></i>',
            overlayCSS: {
                backgroundColor: '#000',
                opacity: 0.5,
                cursor: 'wait'
            },
            css: {
                color: '#333',
                border: 0,
                padding: 0,
                backgroundColor: 'transparent'
            },
            onOverlayClick: $.unblockUI
        });
    });

    // Block Without Message
    $('.without-msg').on('click', function() {
        var block_ele = $(this).closest('.card');
        $(block_ele).block({
            message: null,
            timeout: 5000, //unblock after 2 seconds
            overlayCSS: {
                backgroundColor: '#000',
                opacity: 0.5,
                cursor: 'wait'
            },
            css: {
                border: 0,
                padding: 0,
                backgroundColor: 'transparent'
            }
        });
    });


    // Block without overlay
    $('.without-overlay').on('click', function() {
        var block_ele = $(this).closest('.card');
        $(block_ele).block({
            message: '<i class="fas fa-spin fa-sync text-white"></i>',
            showOverlay: false,
            timeout: 5000, //unblock after 2 seconds
            css: {
                width: 50,
                height: 50,
                lineHeight: 1,
                color: '#fff',
                border: 0,
                padding: 15,
                backgroundColor: '#000'
            }
        });
    });

    // Unblock on overlay click
    $('.overlay-unblock').on('click', function() {
        var block_ele = $(this).closest('.card');
        $(block_ele).block({
            message: '<i class="fas fa-spin fa-sync text-white"></i>',
            overlayCSS: {
                backgroundColor: '#000',
                opacity: 0.5,
                cursor: 'wait'
            },
            css: {
                border: 0,
                padding: 0,
                backgroundColor: 'transparent'
            }
        });

        $('.blockOverlay').on('click', function() {
            $(block_ele).unblock();
        });
    });

    // Growl notification
    $('.growl').on('click', function() {
        $.blockUI({
            message: $('.growl-notification-example'),
            fadeIn: 700,
            fadeOut: 700,
            timeout: 3000,
            showOverlay: false,
            centerY: false,
            css: {
                width: '250px',
                top: '20px',
                left: '',
                right: '20px',
                border: 'none',
                padding: '15px 5px',
                backgroundColor: '#000',
                '-webkit-border-radius': '10px',
                '-moz-border-radius': '10px',
                opacity: 0.9,
                color: '#fff'
            }
        });
    });

});
    </script>
                                <!-- Success Header Modal -->
                                <div id="success-header-modal" class="modal fade" tabindex="-1" role="dialog"
                                    aria-labelledby="success-header-modalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header modal-colored-header bg-success">
                                                <h4 class="modal-title text-white" id="success-header-modalLabel">Profile Recommendations
                                                </h4>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-hidden="true">×</button>
                                            </div>
                                            <div class="modal-body">
                                                <h5 class="mt-0">Follow these steps to make your account eligible</h5>
                                        <ul class="text-md-left text-warning" style="list-style-type:none; padding-left: 2px;">
                                            <li>- <span class="text-white">Make sure your account is older than 60 days</span></li>
                                            <li>- <span class="text-white">Remove old giveaways from your timeline</span></li>
                                            <li>- <span class="text-white">Use your Twitter account regularly and interact with tweets</span></li>
                                          </ul>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-light"
                                                    data-dismiss="modal">Close</button></div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div><!-- /.modal -->




{% endblock %}