{% extends "core/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="{% static 'assets/extra-libs/jquery.countdown.package-2.1.0/css/jquery.countdown.css' %}">

{% endblock %}
{% block content %}

    <div class="text-center">
    <h1 class="mb-0 text-success">GIVEAWAY ZONE</h1>
    <!--<h4 class="text-muted mt-0 font-italic">Enter all the things</h4>-->
    </div>

    <div class="row">
        <div class="col-12 mt-4">
                {% include 'giveaways/timer.html' %}
            <div class="card-group">
                {% for giveaway in object_list %}

{#                    {{ giveaway.giveaway_end_date|date:'M d, Y H:i:s T' }}#}
                    <div class="card">
                    {% if giveaway.url %}
                          <a href="{{ giveaway.url }}" target="_blank">
                    {% elif not giveaway.url and not giveaway.gleam_embed %}
                          <a data-toggle="popover" data-placement="bottom" data-original-title="No link available!" data-content="This giveaway doesn't have a link provided yet. Please check back later.">
                    {% else %}
                         <a href="{{ giveaway.get_absolute_url }}">
                    {% endif %}
                            {% if giveaway.image %}
                                <!-- Used for absolute url with slug -->
                                <img class="card-img-top img-fluid" src="{{ giveaway.image.url }}"
                                     alt="Image for {{ giveaway.title }}">
                            {% else %}
                                {% if giveaway.sponsored %}
                                <img class="card-img-top img-fluid" src="{% static 'img/sponsored_giveaway_gg.png' %}"
                                     alt="Image for {{ giveaway.title }}">
                                    {% else %}
                                <img class="card-img-top img-fluid" src="{% static 'img/gridgaming_giveaway_default.png' %}"
                                     alt="Image for {{ giveaway.title }}">
                                    {% endif %}
                            {% endif %}
                        </a>
                        <div class="card-body d-flex flex-column">
                            <h4 class="card-title">{{ giveaway.title }}</h4>
                            <p class="card-text">{{ giveaway.description }}</p>
                            <hr>
                            <div class="col-md6 mt-auto">

                                {% if giveaway.giveaway_ended %}
                                    <a href="{{ giveaway.get_display_url }}"><button type="button" class="btn btn-block btn-sm btn-outline-secondary"><i class="fa fa-check"></i> Concluded <br>{{ giveaway.giveaway_end_date }} EST</button></a>
                                {% else %}
                                    <br>
                                    <a href="{{ giveaway.get_display_url }}"><button type="button" class="btn btn-block btn-sm btn-outline-dark-warning"><div class="spinner-grow spinner-grow-sm text-danger" role="status"></div> <b>LIVE</b><br>{{ giveaway.giveaway_end_date }} EST</button></a>
{#                                    <a href="{{ giveaway.get_display_url }}"><button type="button" class="btn btn-block btn-sm btn-outline-dark-warning" id="clock"><div class="spinner-grow spinner-grow-sm text-danger" role="status"></div> <b>LIVE</b><br> EST</button></a>#}

                                {% endif %}


                            </div>
                        </div>
                    {% include 'giveaways/timer.html' %}
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                        </div>
                        <div class="card-group">
                    {% endif %}

                {% endfor %}

                </div>
        </div>
    </div>


{#    <a href="{% url 'giveaways:giveaway-create' %}">Create Giveaway</a>#}
{% endblock %}

{% block extra_scripts %}
      <script src="//cdn.rawgit.com/hilios/jQuery.countdown/2.2.0/dist/jquery.countdown.min.js"></script>
                <script type="text/javascript">
              // Turn on Bootstrap
              $('[data-toggle="tooltip"]').tooltip();

              // 15 days from now!
              function get15dayFromNow() {
                return new Date(new Date().valueOf() + 15 * 24 * 60 * 60 * 1000);
              }

              var $clock = $('#clock');
              var timeexample = Date().valueOf()
              //console.log(timeexample)

              $clock.countdown(get15dayFromNow(), function(event) {
                $(this).html(event.strftime('%D days %H:%M:%S'));
              });

            </script>
{% endblock %}


