{% load static %}

<!DOCTYPE html>
<html dir="ltr" lang="en">

{% include "core/header.html" %}
{% block extra_css %}

{% endblock extra_css %}

<body data-theme="dark">

{% include "core/preloader.html" %}
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
{% if request.user.blacklisted %}
<h2> Sorry... your account has been restricted.</h2>
    <span>If you believe this is an error, please contact business@gridgaming.io</span>

    {% else %}
<div id="main-wrapper" data-layout="horizontal" data-navbarbg="skin2" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="boxed">




    {% include "core/topbar.html" %}
    {% include "core/left-sidebar.html" %}
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        {#            {% include "core/breadcrumb.html" %}#}
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">

            {% include "core/alerts.html" %}

            {% block content %}

            {% endblock content %}
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        {% include "core/footer.html" %}
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
{% endif %}
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- customizer Panel -->
<!-- ============================================================== -->

{% include "core/javascript_files.html" %}
{% block extra_scripts %}
{% endblock extra_scripts %}
</body>

</html>