<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
<footer class="footer">
<!--MONUMETRIC In-Screen / Sticky Footer D:728x90 T:728x90 M:320x50,320x100 START-->

<div id="mmt-fadf46fd-f556-431c-904c-3062618ee09e"></div><script type="text/javascript" data-cfasync="false">$MMT = window.$MMT || {}; $MMT.cmd = $MMT.cmd || [];$MMT.cmd.push(function(){ $MMT.display.slots.push(["fadf46fd-f556-431c-904c-3062618ee09e"]); })</script>

<!--MONUMETRIC In-Screen / Sticky Footer D:728x90 T:728x90 M:320x50,320x100  ENDS-->    © 2020 gridgaming.io
</footer>
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->