<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
{% if user.is_authenticated %}
<aside class="left-sidebar" data-sidebarbg="skin2">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <!-- User Profile-->
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark" href="{% url 'core:home' %}" aria-expanded="false"><i class="mdi mdi-cart-outline"></i><span class="hide-menu">Shop</span></a>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark" href="{% url 'retweet_picker:giveaway-list' %}" aria-expanded="false"><i class="mdi mdi-rocket"></i><span class="hide-menu">Launch Pad</span></a>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark" href="{% url 'slotapp:first_page' %}" aria-expanded="false"><i class="mdi mdi-cart-outline"></i><span class="hide-menu">Community Giveaway</span></a>
                    {#                <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Dashboard </span></a>#}
                        {% if request.user.is_staff %}
                            <!-- <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark" href="https://www.gridgaming.io/gridadmin/core/order/" aria-expanded="false"><i class="mdi zmdi-money-box"></i><span class="hide-menu">Orders</span></a> -->
                            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark" href="http://localhost:8000/gridadmin/core/order/" aria-expanded="false"><i class="mdi zmdi-money-box"></i><span class="hide-menu">Orders</span></a>
                        {% endif %}
        
                        <!--<li class="nav-small-cap"><i class="mdi mdi-dots-horizontal"></i> <span class="hide-menu">Personal</span></li>-->
{#                    <ul aria-expanded="false" class="collapse  first-level">#}
{#                        <li class="sidebar-item">#}
{#                            <a href="index.html" class="sidebar-link">#}
{#                                <i class="mdi mdi-adjust"></i>#}
{#                                <span class="hide-menu"> Dashboard 1 </span>#}
{#                            </a>#}
{#                        </li>#}
{#                        <li class="sidebar-item">#}
{#                            <a href="index2.html" class="sidebar-link">#}
{#                                <i class="mdi mdi-adjust"></i>#}
{#                                <span class="hide-menu"> Dashboard 2 </span>#}
{#                            </a>#}
{#                        </li>#}
{#                        <li class="sidebar-item">#}
{#                            <a href="index3.html" class="sidebar-link">#}
{#                                <i class="mdi mdi-adjust"></i>#}
{#                                <span class="hide-menu"> Dashboard 3 </span>#}
{#                            </a>#}
{#                        </li>#}
{#                    </ul>#}
{#                </li>#}
{##}
{#                <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-trending-up"></i><span class="hide-menu">Stats</span></a>#}
{#                    <ul aria-expanded="false" class="collapse first-level">#}
{#                        <li class="sidebar-item"><a href="javascript:void(0)" class="sidebar-link"><i class="mdi mdi-octagram"></i><span class="hide-menu"> item 1.1</span></a></li>#}
{##}
{#                        </li>#}
{#                        <li class="sidebar-item"><a href="javascript:void(0)" class="sidebar-link"><i class="mdi mdi-playlist-check"></i><span class="hide-menu"> item 1.4</span></a></li>#}
{#                    </ul>#}
{#                </li>#}
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
{% endif %}
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->