{% extends "core/base.html" %}
{% load static %}

{% block content %}
    <h4 class="mb-0">Current Giveaways</h4>
    <p class="text-muted mt-0 font-12">Stop by frequently for current giveaways.</p>
    <div class="row">
        <div class="col-12 mt-4">

            <div class="card-group">
                {% for giveaway in object_list %}

                    <div class="card">
                    {% if giveaway.url %}
                          <a href="{{ giveaway.url }}" target="_blank">
                    {% else %}
                          <a data-toggle="popover" data-placement="bottom" data-original-title="No link available!" data-content="This giveaway doesn't have a link provided yet. Please check back later.">
                    {% endif %}
{#                        <a href="{{ giveaway.get_absolute_url }}">#}
                            {% if giveaway.image %}
                                <img class="card-img-top img-fluid" src="{{ giveaway.image.url }}"
                                     alt="Image for {{ giveaway.title }}">
                            {% else %}
                                <img class="card-img-top img-fluid" src="{% static 'img/default_giveaway_gg.jpg' %}"
                                     alt="Image for {{ giveaway.title }}">
                            {% endif %}
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">{{ giveaway.title }}</h4>
                            <p class="card-text">{{ giveaway.description }}</p>
                            <p class="card-text"><small class="text-muted">Ends {{ giveaway.giveaway_end_date }}</small>
                            </p></div>
                        <!--<a class="text-center" href="{{ giveaway.get_absolute_url }}"><button type="button" class="btn waves-effect waves-light btn-rounded btn-outline-success">See More</button></a>-->

                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                        </div>
                        <div class="card-group">
                    {% endif %}
                {% endfor %}

                </div>
        </div>
    </div>


{#    <a href="{% url 'giveaways:giveaway-create' %}">Create Giveaway</a>#}
{% endblock %}