{% extends "core/base.html" %}
{% load static %}

{% block content %}
    <div class="text-center">
    <h1 class="mb-0 text-success">GIVEAWAY ZONE</h1>
    <!--<h4 class="text-muted mt-0 font-italic">Enter all the things</h4>-->
    </div>

    <div class="row">
        <div class="col-12 mt-4">

            <div class="card-group">
                {% for giveaway in object_list %}

                    <div class="card">
                    {% if giveaway.url %}
                          <a href="{{ giveaway.url }}" target="_blank">
                    {% elif not giveaway.url and not giveaway.gleam_embed %}
                          <a data-toggle="popover" data-placement="bottom" data-original-title="No link available!" data-content="This giveaway doesn't have a link provided yet. Please check back later.">
                    {% else %}
                         <a href="{{ giveaway.get_absolute_url }}">
                    {% endif %}
                            {% if giveaway.image %}
                                <!-- Used for absolute url with slug -->
                                <img class="card-img-top img-fluid" src="{{ giveaway.image.url }}"
                                     alt="Image for {{ giveaway.title }}">
                            {% else %}
                                <img class="card-img-top img-fluid" src="{% static 'img/default_giveaway_gg.png' %}"
                                     alt="Image for {{ giveaway.title }}">
                            {% endif %}
                        </a>
                        <div class="card-body d-flex flex-column">
                            <h4 class="card-title">{{ giveaway.title }}</h4>
                            <p class="card-text">{{ giveaway.description }}</p>
                            <hr>
                            <div class="col-md6 mt-auto">

                                {% if giveaway.giveaway_ended %}
                                    <a href="{{ giveaway.get_absolute_url }}"><button type="button" class="btn btn-block btn-sm btn-outline-secondary"><i class="fa fa-check"></i> Concluded <br>{{ giveaway.giveaway_end_date }} EST</button></a>
                                {% else %}
                                    <br>
                                    <a href="{{ giveaway.get_absolute_url }}"><button type="button" class="btn btn-block btn-sm btn-outline-dark-warning"><div class="spinner-grow spinner-grow-sm text-danger" role="status"></div> <b>LIVE</b><br>{{ giveaway.giveaway_end_date }} EST</button></a>

                                {% endif %}


                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                        </div>
                        <div class="card-group">
                    {% endif %}
                {% endfor %}

                </div>
        </div>
    </div>


{#    <a href="{% url 'giveaways:giveaway-create' %}">Create Giveaway</a>#}
{% endblock %}