{% extends 'core/base.html' %}
{% load mathfilters %}
{% load cart_template_tags %}


{% block extra_head_tags %}
    <meta property="og:title" content="GridGaming Giveaway - Command Center">
    <meta property="og:description" content="Ready for takeoff? Launch your giveaway from this command center.">
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!-- basic table -->
        {% if order_items %}
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title text-center text-uppercase text-megna">Command Center</h4>

                            <h6 class="text-center mb-3">STATUS:
                                {% if request.user.cleared_hot %}
                                    <span class="badge badge-warning" data-toggle="tooltip" data-placement="bottom"
                                          title=""
                                          data-original-title="You are cleared hot! Clicking Launch will start your giveaway on gridgaming.io's Twitter timeline!">CLEARED HOT</span>

                                {% else %}
                                    <span class="badge badge-danger" data-toggle="tooltip" data-placement="bottom"
                                          title=""
                                          data-original-title="Automated launch not available yet. An admin will review your account and update your status to cleared hot.">Pending Approval</span>
                                {% endif %}
                            </h6>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-group">
                                        {% for order in order_items %}
                                            {% for item in order.items %}
                                                <!-- Column -->
                                                {% if item.available_to_run > 0 %}
                                                    <a href="#"
                                                       onclick="confirmLaunch({{ order.order.id }}, {{ item.id }})"
                                                       data-toggle="tooltip" data-placement="top" title=""
                                                       data-original-title="Click to Launch. PLEASE VERIFY @{{ request.user.username }} matches your current Twitter handle. ">
                                                        <div class="card text-center bg-primary">
                                                            <div class="card-body text-center text-white">
                                                        <span class="display-6"><i
                                                                class="mdi mdi-rocket"></i></span>
                                                                <div class="mt-3">
                                                                    <h5 class="font-weight-light text-white">{{ item.item.title }}</h5>
                                                                </div>
                                                            </div>
                                                    </a>
                                                    <div class="card-footer text-primary bg-white">
                                                        <a href="{% url "retweet_picker:contest_results" item.id %}"><h4
                                                                class="font-weight-medium text-primary">
                                                            Available: {{ item.available_to_run }}</h4></a>

                                                        <!-- start status -->
                                                        {% if item.status == "P" %}
                                                            <h4
                                                                    class="font-weight-medium badge badge-purple"
                                                                    data-toggle="tooltip" data-placement="right"
                                                                    title=""
                                                                    data-original-title="Results will appear giveaway completes">{{ item.get_status_display }}</h4>

                                                        {% elif item.status == "L" %}
                                                            <h4
                                                                    class="font-weight-medium badge badge-danger"
                                                                    data-toggle="tooltip" data-placement="right"
                                                                    title=""
                                                                    data-original-title="Giveaway is live!">{{ item.get_status_display }}</h4>

                                                        {% elif item.status == "T" %}
                                                            <h4
                                                                    class="font-weight-medium badge badge-purple"
                                                                    data-toggle="tooltip" data-placement="right"
                                                                    title=""
                                                                    data-original-title="Winner Selected!">{{ item.get_status_display }}</h4>

                                                        {% elif item.status == "C" %}
                                                            <h4
                                                                    class="font-weight-medium badge badge-info"
                                                                    data-toggle="tooltip" data-placement="right"
                                                                    title=""
                                                                    data-original-title="Winner Contacted">{{ item.get_status_display }}</h4>

                                                        {% elif item.status == "D" %}
                                                            <h4
                                                                    class="font-weight-medium badge badge-primary"
                                                                    data-toggle="tooltip" data-placement="right"
                                                                    title=""
                                                                    data-original-title="Winner Paid">{{ order.order.get_status_display }}</h4>

                                                        {% else %}
                                                            <h4
                                                                    class="font-weight-medium badge badge-primary">{{ item.get_status_display }}</h4>

                                                            <!-- end status -->
                                                        {% endif %}
                                                        <br>
                                                        <small class="font-weight-light mb-0 text-secondary">Runtime {{ item.item.duration_to_run|mul:user.account_type.time_quantifier|display_time }}</small>
                                                    </div>
                                                    </div>
                                                {% else %}
                                                    <div class="card text-center bg-secondary" data-toggle="tooltip"
                                                         data-placement="top" title=""
                                                         data-original-title="Congrats on a successful giveaway. Head over to results to see who won! ">
                                                        <div class="card-body text-center text-white">
                                                        <span class="display-6"><i
                                                                class="mdi mdi-check-circle-outline"></i></span>
                                                            <div class="mt-3">
                                                                <h5 class="font-weight-light text-white">{{ item.item.title }}</h5>
                                                            </div>
                                                        </div>
                                                        <div class="card-footer text-primary bg-white">
                                                            <a href="{% url "retweet_picker:contest_results" item.id %}">
                                                                <h4 class="font-weight-medium text-success">See
                                                                    Results</h4></a>
                                                            <a href="{{ item.item.get_absolute_url }}"
                                                               class="h4 font-weight-medium badge badge-primary">PURCHASE
                                                                AGAIN</a>
                                                            <br>
                                                            <small class="font-weight-light mb-0 text-secondary">Ordered {{ order.order.ordered_date|date }}</small>
                                                            {#                                                        <a href="{% url "retweet_picker:contest_results" item.id %}" class="btn waves-effect waves-light btn-lg btn-outline-success">See Results</a>#}
                                                            {#                                                        <h4 class="font-weight-medium badge badge-secondary">{{ item.get_status_display }}</h4>#}

                                                            {#                                                <a href="{{ item.item.get_absolute_url }}" class="btn waves-effect waves-light btn-lg btn-outline-primary">Purchase Again</a>#}
                                                            {#                                                        <br><small class="font-weight-light mb-0 text-secondary">Runtime {{ item.item.duration_to_run|mul:user.account_type.time_quantifier|display_time}}</small>#}

                                                        </div>
                                                    </div>
                                                {% endif %}
                                                <!-- Column -->
                                                {% if forloop.counter|divisibleby:3 %}
                                                    </div>
                                                    <div class="card-group">
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                        </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </div>
        {% else %}
            <div class="row">
                <h2>Available after first sponsored giveaway!</h2>
            </div>
        {% endif %}
    </div>

    <script>

        function confirmLaunch(order_id, item_id) {
            swal.fire({
                title: 'Are you sure?',
                text: "This will start your giveaway for @{{ request.user.username }}!",
                icon: 'warning',
                showCancelButton: true,
                background: '#e9ecef',
                confirmButtonColor: '#21c1d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, send it!'
            }).then((result) => {
                if (result.value) {
                    window.location.href = "/contests/launch/" + order_id + "/" + item_id;
                } else if (
                    /* Read more about handling dismissals below */
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swal.fire(
                        'Cancelled',
                        'Launch aborted!',
                        'error'
                    )
                }
            })
        }
    </script>
{% endblock %}