{% extends 'core/base.html' %}
{% load static %}
{% load mathfilters %}

{% block extra_head_tags %}
<!-- <link href="{% static 'taginput/stylesheets/inputTag.css' %}" rel="stylesheet"> -->
<link href="{% static 'taginput/jquery.tagsinput-revisited.css' %}" rel="stylesheet">
<!-- <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->

<style>
    .switch {
      position: relative;
      display: inline-block;
      width: 40px;
      height: 22px;
    }
    
    .switch input { 
      opacity: 0;
      width: 0;
      height: 0;
    }
    
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    .slider:before {
      position: absolute;
      content: "";
      height: 18px;
      width: 18px;
      left: 2px;
      bottom: 2px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    input:checked + .slider {
      background-color: #2196F3;
    }
    
    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }
    
    input:checked + .slider:before {
      -webkit-transform: translateX(18px);
      -ms-transform: translateX(18px);
      transform: translateX(18px);
    }
    
    /* Rounded sliders */
    .slider.round {
      border-radius: 18px;
      height: 22px;
      width: 40px;
    }
    
    .slider.round:before {
      border-radius: 50%;
    }
    .option-container{
        border-top: 2px solid #5a686c;
        border-spacing: 40px;
        display: block;
    }
    .option-label{
        width: fit-content;
        background-color: #272b34;
        font-weight: bold;
        font-size: 1rem;
        /* color: #0cc0f6; */
        text-shadow: 1px 1px 4px #5a686c;
        margin-top:-20px;
        margin-left: 40px;
        border-radius: 40%;
        border: 2px solid #5a686c;
    }
    #div_link label, #div_verify label{
        display: none;
        margin-top: 5px;
        margin-bottom: 0;
        text-align: center;
    }
    #div_link.error label, #div_verify.error label{
        color: #ff399e;
        display: block;
        animation: fadein 0.5s;
    }
    @keyframes fadein {
        from { max-height: 0; }
        to   { max-height: 50px; }
    }
    @keyframes fadeout {
        from { max-height: 50; }
        to   { max-height: 0; }
    }
    #tweet_content, #tweet_content iframe{
        transition-duration: 0.5s;
        transition-property: all;
        animation: fadeIn ease 0.5s;
    }

    .user_avatar{
        width: 25px;
        height: 25px;
        border-radius: 50%;
        margin-right: 10px;
    }
    #tbl_drawing td{
        padding: 5px 20px 2px 30px;
    }
    </style>
{% endblock %}

{% block content %}
{% if request.user.is_staff %}
    <div class="container-fluid">
                <div class="card">
                    <div class="card-body">
                        <div class="row px-md-5 px-sm-2">
                            <div class="col-sm-12 mt-5">
                                <h2 style="text-align: center;">TWEET LINK</h2>
                                <h6 style="text-align: center;">Type or paste content link</h6>
                                <div class='row'>
                                    <div class='col-sm-12 my-2 px-sm-5' id="div_link">
                                        <input type="text" class="form-control" placeholder="https://twitter.com/ ... /status/ ..." id="in_link">
                                        <label>Please fill this link field!</label>
                                    </div>
                                    
                                    <div class='col-sm-12 mt-2 text-center' >
                                        <button class="btn btn-primary mx-2 my-2 px-5" disabled id="btn_fetching" style="display: none;">
                                            <span class="spinner-border spinner-border-sm"></span>
                                             Fetching data ...
                                        </button>
                                        <button class='btn  btn-primary mx-2 my-2 px-5' id="btn_draw">DRAW WINNER</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 mt-5">
                                <h2 class="text-center">DRAW VERIFY</h2>
                                <div class='row'>
                                    <div class='col-sm-12 my-2 px-sm-5' id="div_verify">
                                        <input type="text" class="form-control" placeholder="Enter the draw ID" id="in_drawid">
                                        <label>Please fill this Draw ID field!</label>
                                    </div>
                                    <div class='col-sm-12 mt-2 text-center'>
                                        <button class='btn  btn-success px-5' id="btn_verify">VERIFY</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>

    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="label_title">Import contest</h4>
                    <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                </div>
                <div class="modal-body">
                    <h6 id="label_status">Content preview</h6>
                    <div id="tweet_content">

                    </div>
                    <h6 class="mt-3 px-3" id="label_retweetcount" style="color: white"></h6>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btn_close">Cancel</button>
                    <button type="button" class="btn btn-primary" id="btn_import">Import contest</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="verifyModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="label_title">Draw Verify</h4>
                    <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                </div>
                <div class="modal-body">
                    <h6  id="label_verifystatus">Drawed Result : </h6>
                    <h6  id="label_entries">Entries : <span id="spn_entries">_</span></h6>
                    <h6  id="label_drawdate">Draw date : <span id="spn_drawdate">_</span></h6>
                    <table id="tbl_drawing" class="mt-3">
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btn_close">Close</button>
                </div>
            </div>
        </div>
    </div>

    {% else %}
    <div class="container-fluid">
    <div class="row">
        <h1>Coming soon... </h1>
    </div>
    </div>
    {% endif %}
    
{% endblock %}
{% block extra_scripts %}
    <!-- <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script> -->
<!-- <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script> -->
<script src="{% static 'taginput/jquery.tagsinput-revisited.js' %}"></script>
<script sync src="https://platform.twitter.com/widgets.js"></script>
<script  type="text/javascript">
    $(function(){
        $("#div_link input").change(function(){
            $("#div_link").removeClass('error')
        })
        $("#div_verify input").change(function(){
            $("#div_verify").removeClass('error')
        })
        $('#add_tags').tagsInput();
        $("#chk_follow").change(function(e){
            fe = $(e.target).prop("checked");
            if(fe){
                $("#follow_show").fadeIn();
            }else{
                $("#follow_show").fadeOut();
            }
        })
        $("#chk_followother").change(function(e){
            fe = $(e.target).prop("checked");
            if(fe){
                $("#followother_show").fadeIn();
            }else{
                $("#followother_show").fadeOut();
            }
        })
        $("#chk_retweet").change(function(e){
            fe = $(e.target).prop("checked");
            if(fe){
                $("#retweet_show").fadeIn();
            }else{
                $("#retweet_show").fadeOut();
            }
        })
        $("#btn_import").click(function(){
            $.ajax({
                type: "POST",
                url: "../import_contest",
                data: {'link': link},
                success: function (data) {
                    console.log(data);
                    if (data.success == true) {
                        location.href = "../" + data.gwid + "/entries"
                    } else {
                    }
                }
            })
        })
        $("#btn_draw").click(function(){
            link = $("#in_link").val();
            valid = true
            if(link.trim() == "" || link.indexOf('https://twitter.com/') == -1){
                $("#div_link label").html('Please fill this link field!')
                $("#div_link").addClass('error')
                valid = false
            }
            if(valid == false){
                return
            }
            $("#btn_draw").hide()
            $("#btn_fetching").show()
            $.ajax({
                type: "POST",
                url: "../fetch_data",
                data: {'link': link},
                success: function (data) {
                    $("#btn_fetching").hide()
                    $("#btn_draw").show()
                    $("#tweet_content").html("")

                    var tweet = document.getElementById("tweet_content");
                    console.log(data);
                    if (data.success == true) {
                        twttr.widgets.createTweet(
                            data.tweet_id, tweet,
                            {
                                conversation : 'none',    // or all
                                cards        : 'hidden',  // or visible
                                linkColor    : '#cc0000', // default is blue
                                theme        : 'light'    // or dark
                            })
                            .then (function (el) {
                                el.contentDocument.querySelector(".footer").style.display = "none";
                        });
                        $("#label_retweetcount").html("You can load entries upto " + data.free_max + " as free.  If you are sure, please click below button.")
                        $("#myModal").modal({backdrop: 'static', keyboard: false})
                    } else {
                        $("#div_link label").html(data.msg)
                        $("#div_link").addClass('error')
                        // setTimeout(function () { $("#myModal").modal("hide"); }, 500);
                        // swal.fire(
                        //     'Failed',
                        //     data.msg,
                        //     'error'
                        // )
                    }
                }
            })
        })

        $("#btn_verify").click(function(){
            draw_id = $("#in_drawid").val().trim()
            if(draw_id == ''){
                $("#div_verify").addClass('error');
                return;
            }
            $("#label_verifystatus").html("Please wait while getting data...")
            $("#spn_drawdate").html("_")
            $("#spn_entries").html("_")
            $("#label_drawdate").show()
            $("#label_entries").show()
            $("#tbl_drawing tbody").html("")
            $("#verifyModal").modal({backdrop: 'static', keyboard: false})
            $.ajax({
                type: "POST",
                url: "/contests/draw_verify",
                data: {'draw_id': draw_id},
                success: function (data) {
                    console.log(data);
                    if (data.success == true) {
                        if(data.draw_info.draw_status != 'W'){
                            $("#label_verifystatus").html("This conest is not finished yet.")
                            $("#label_drawdate").hide()
                            $("#label_entries").hide()
                        }else{
                            $("#label_verifystatus").html("Drawed Results")
                            f_drawdate = new Date(data.draw_info.drawed_at).toLocaleString()
                            $("#spn_drawdate").html(f_drawdate)
                            $("#spn_entries").html(data.draw_info.entries)
                            show_rerolls(data.draw_info.rerolls);
                        }
                    } else {
                        $("#label_verifystatus").html(data.msg)
                        $("#label_drawdate").hide()
                        $("#label_entries").hide()
                    }
                }
            })
        })
    })
    function show_rerolls(data){
        for(i=0;i<data.length;i++){
            r = data[i]
            if(r.kind == 0){
                reason = r.reason;
            }else if(r.kind == 2){
                reason = "choosen as winner!";
            }else{
                continue;
            }
            if($("#rtr_" + r.id).length == 0){
                str = "<tr id='rtr_" + r.id + "'><td><img class='user_avatar' src='" + r.user_info.profile_img + "'>"
                str += r.user_info.screen_name + "</td><td>" + reason +"</td></tr>";
                $("#tbl_drawing tbody").append(str);
            }
            
        }
    }
</script>
{% endblock extra_scripts %}