{% load static %}
{% load mathfilters %}
<div class="col-md-12 mb-4">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
    <span class="text-muted">Your cart</span>
    <span class="badge badge-megna badge-pill">{{ order.items.count }}</span>
    </h4>
    <ul class="list-group mb-3 z-depth-1">
    {% for order_item in order.items.all %}
        {% if order_item.kind == 0 %}
        <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
            <h6 class="my-0">{{ order_item.quantity }} x {{ order_item.item.title}}</h6>
            <small class="text-muted">{{ order_item.item.description}}</small>
            </div>
            <span class="text-muted">
                {% if user.user_profile.credit_display %}
                <img src="{% static 'assets/images/coin-xs.png' %}" style="padding-top:2px;width: 16px; vertical-align: text-top;">
                {{order_item.get_final_price|mul:cc_per_usd}}
                {% else %}
                ${{ order_item.get_final_price }}
                {% endif %}
                
            </span>
        </li>
        {% else %}
        <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
            <h6 class="my-0">{{ order_item.quantity }} x {{ order_item.slot.title}}</h6>
            <small class="text-muted">{{ order_item.slot.description}}</small>
            </div>
            <span class="text-muted">
                {% if user.user_profile.credit_display %}
                <img src="{% static 'assets/images/coin-xs.png' %}" style="padding-top:1px;width: 16px; vertical-align: text-top;">
                {{order_item.get_final_price|mul:cc_per_usd}}
                {% else %}
                ${{ order_item.get_final_price }}
                {% endif %}
            </span>
        </li>
        {% endif %}
    {% endfor %}
    {% if order.coupon %}
    <li class="list-group-item d-flex justify-content-between bg-light">
        <div class="text-success">
        <h6 class="my-0">Promo code</h6>
        <small>{{ order.coupon.code }}</small>
        </div>
        <span class="text-success">-${{ order.coupon.amount }}</span>
    </li>
    {% endif %}
    <li class="list-group-item d-flex justify-content-between">
        <span>
            {% if user.user_profile.credit_display %}
            Total (Credits)
            {% else %}
            Total (USD)
            {% endif %}
        </span>
        <strong class="text-warning">
            {% if user.user_profile.credit_display %}
            <img src="{% static 'assets/images/coin-xs.png' %}" style="padding-top:1px;width: 16px; vertical-align: text-top;">
            {{order.get_total|mul:cc_per_usd}}
            {% else %}
            ${{ order.get_total }}
            {% endif %}
        </strong>
    </li>
    </ul>

    {% if DISPLAY_COUPON_FORM %}
    <form class="card p-2" action="{% url 'core:add-coupon' %}" method="POST">
        {% csrf_token %}
        <div class="input-group">
            {{ couponform.code }}
            <div class="input-group-append">
            <button class="btn btn-secondary btn-md waves-effect m-0" type="submit">Redeem</button>
            </div>
        </div>
    </form>
    {% endif %}

</div>

