{% extends "core/base.html" %}
{% load account %}
{% block content %}
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-4 col-xlg-3 col-md-5">
                        <div class="card">
                            <div class="card-body">
                                <center class="mt-4"> <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" class="rounded-circle" width="150">
                                    <h4 class="card-title mt-2">{{ user.username }}</h4>
                                    <h6 class="card-subtitle">{{ user.socialaccount_set.all.0.extra_data.description }}</h6>
                                    <div class="row text-center justify-content-md-center">
                                        <div class="col-4"><a href="javascript:void(0)" class="link" alt="Twitter Followers" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Current Followers"><i class="icon-user-follow"></i> <font class="font-medium">{{ user.socialaccount_set.all.0.extra_data.followers_count }}</font></a></div>
                                        <div class="col-4"><a href="javascript:void(0)" class="link" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Following"><i class="icon-user-following" ></i> <font class="font-medium">{{ user.socialaccount_set.all.0.extra_data.friends_count }}</font></a></div>
                                    </div>
                                                                    <a href="https://www.twitter.com/{% user_display user %}"><button class="btn btn-circle btn-twitter" _target="blank"><i class="fab fa-twitter"></i></button></a>
                                </center>
                            </div>
                            <div>
                                <hr> </div>
                            <div class="card-body text-center"> <small class="text-muted">Last Seen </small>
                                <h6>{{ user.last_login }}</h6>
                                </div>
                                <br>




                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-lg-8 col-xlg-9 col-md-7">
                        <div class="card">
                            <div class="card-body">

                                <h4 class="card-title mb-3">Account Home</h4>

                                <ul class="nav nav-tabs nav-bordered mb-3 customtab">
                                    <li class="nav-item">
                                        <a href="#home-b1" data-toggle="tab" aria-expanded="false" class="nav-link active">
                                            <i class="mdi mdi-home-variant d-lg-none d-block mr-1"></i>
                                            <span class="d-none d-lg-block">Home</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#profile-b1" data-toggle="tab" aria-expanded="true" class="nav-link">
                                            <i class="mdi mdi-account-circle d-lg-none d-block mr-1"></i>
                                            <span class="d-none d-lg-block">Profile</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#settings-b1" data-toggle="tab" aria-expanded="false" class="nav-link">
                                            <i class="mdi mdi-settings-outline d-lg-none d-block mr-1"></i>
                                            <span class="d-none d-lg-block">Membership</span>
                                        </a>
                                    </li>
                                </ul>

                                <div class="tab-content">
                                    <div class="tab-pane active" id="home-b1">
                                        <p>Account Profile settings. Show connected account and username with a link to refresh username.</p>
                                    </div>
                                    <div class="tab-pane show" id="profile-b1">
                                        <p>Coming soon...</p>
                                    </div>
                                    <div class="tab-pane" id="settings-b1">
                                        <p>Put billing information here.</p>
                                        <h4>Current Status: User</h4>
                                        Upgrade to next level (pop up modal to upgrade) with prices from db

                                    </div>
                                </div>

                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div>
                    <!-- Column -->
                </div>
{% endblock %}