{% extends "core/base.html" %}
{% load static %}
{% load mathfilters %}
{% load cart_template_tags %}
{% load crispy_forms_tags %}
{% block extra_css %}
<link href="{% static 'assets/libs/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css' %}"
    rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock extra_css %}




{% block content %}

<div class="container-fluid">
    <h2 class="my-5 h2 text-center">Checkout form</h2>
    <div class="row">
        <div class="col-md-8 mb-4">
            <div class="card">
                <div class="card-body text-center p-5">
                    <form method="POST" class="form-material mt-4" hidden>
                        {% csrf_token %}

                        <h3>Billing address</h3>

                        <div class='hideable_billing_form'>
                            <div class="md-form mb-5">
                                <input type='text' placeholder='1234 Main St' id='billing_address'
                                    name='billing_address' class='form-control' />
                                <label for="billing_address" class="">Address</label>
                            </div>

                            <div class="md-form mb-5">
                                <input type='text' placeholder='Apartment or suite' id='billing_address2'
                                    name='billing_address2' class='form-control' />
                                <label for="billing_address2" class="">Address 2 (optional)</label>
                            </div>

                            <div class="row">
                                <div class="col-lg-4 col-md-12 mb-4">
                                    <label for="country">Country</label>
                                    {{ form.billing_country }}
                                    <div class="invalid-feedback">
                                        Please select a valid country.
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 mb-4">
                                    <label for="billing_zip">Zip</label>
                                    <input type='text' placeholder='Zip code' id='billing_zip' name='billing_zip'
                                        class='form-control' />
                                    <div class="invalid-feedback">
                                        Zip code required.
                                    </div>
                                </div>

                            </div>

                            <div class="form-check form-check-label">
                                <input type="checkbox" class="form-check-input material-inputs"
                                    name="set_default_billing" id="set_default_billing">
                                <label class="form-check-label" for="set_default_billing">Save as default billing
                                    address</label>
                            </div>

                        </div>

                        {% if default_billing_address %}
                        <div class="form-check form-check-label">
                            <input type="checkbox" class="form-check-input material-inputs" name="use_default_billing"
                                id="use_default_billing">
                            <label class="form-check-label" for="use_default_billing">Use default billing address:
                                <strong class="text-cyan">{{ default_billing_address.street_address|truncatechars:10
                                    }}</strong></label>
                        </div>
                        {% endif %}
                        <hr>


                        {# <h5 class="card-title">Desired Launch Date - Must be within next {{ giveaway_day_range }}
                            days</h5>#}

                        {# <div class="form-group border-bottom pb-3">#}
                            {# {{ form.desired_giveaway_date }}#}
                            {# </div>#}

                        <h3>Payment option</h3>

                        <div class="d-block my-3">
                            {% for value, name in form.fields.payment_option.choices %}
                            <div class="custom-control custom-radio">
                                <input id="{{ name }}" name="payment_option" value="{{ value }}" type="radio"
                                    class="custom-control-input" required>
                                <label class="custom-control-label" for="{{ name }}">{{ name }}</label>
                            </div>
                            {% endfor %}
                        </div>

                        <hr class="mb-4">
                        <button class="btn btn-megna btn-lg btn-block" type="submit">Continue to checkout</button>

                    </form>
                    <h5>You will pay</h5>
                    <h3><span class="text-warning">
                        {% if user.user_profile.credit_display %}
                        <img src="{% static 'assets/images/coin-xs.png' %}" style="padding-top:3px;width: 22px; vertical-align: text-top;">
                        {{total_credit}}
                        {% else %}
                        ${{ object.total_usd }}
                        {% endif %}
                    </span></h3>
                    <h4 id="h_msg" class="my-5"></h4>
                    <form id="form_paycredit" method="POST" class="form-material mt-4" hidden>
                        {% csrf_token %}
                        <input name="total_credit" value="{{ total_credit }}" hidden>
                    </form>
                    <button id="btn_checkout" class="btn btn-lg  font-medium btn-outline-success block-card"><i
                            class="fas fa-money-check-alt mx-2"></i>Pay With Credits</button>
                    <button id="btn_buycredit" style="display: none;" class="btn btn-lg  font-medium btn-outline-success block-card"><i
                        class="fas fa-money-check-alt mx-2"></i>Buy Credits</button>
                    <div class="mt-4">
                        {%if kind == 0%}
                        <a id="a_return" href="/shop/order-summary/" class="">Back To Cart</a>
                        {%else%}
                        <a id="a_return" href="/slot/community" class="">Back To Cart</a>
                        {%endif%}
                    </div> 
                </div>
            </div>

        </div>

        <div class="col-md-4 mb-4">
            {% include "shop/order_snippet.html" %}
        </div>

    </div>

</div>
{% endblock content %}

{% block extra_scripts %}
<script src="{% static 'assets/libs/moment/moment.js' %}"></script>
<script
    src="{% static 'assets/libs/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js' %}"></script>
<script>
    // MAterial Date picker
    $('#mdate').bootstrapMaterialDatePicker({ weekStart: 0, time: false });
    $('#timepicker').bootstrapMaterialDatePicker({ format: 'HH:mm', time: true, date: false });
    $('#date-format').bootstrapMaterialDatePicker({ format: 'dddd DD MMMM YYYY - HH:mm' });

    $('#min-date').bootstrapMaterialDatePicker({ format: 'DD/MM/YYYY HH:mm', minDate: new Date() });
    $('#date-fr').bootstrapMaterialDatePicker({ format: 'DD/MM/YYYY HH:mm', lang: 'fr', weekStart: 1, cancelText: 'ANNULER' });
    $('#date-end').bootstrapMaterialDatePicker({ weekStart: 0 });
    $('#date-start').bootstrapMaterialDatePicker({ weekStart: 0 }).on('change', function (e, date) {
        $('#date-end').bootstrapMaterialDatePicker('setMinDate', date);
    });
</script>

<script>
    var hideable_billing_form = $('.hideable_billing_form');

    var use_default_billing = document.querySelector("input[name=use_default_billing]");


    use_default_billing.addEventListener('change', function () {
        if (this.checked) {
            hideable_billing_form.hide();
        } else {
            hideable_billing_form.show();
        }
    })
    $('.datetimepicker').datetimepicker({
        icons: {
            time: "fa fa-clock-o",
            date: "fa fa-calendar",
            up: "fa fa-chevron-up",
            down: "fa fa-chevron-down",
            previous: 'fa fa-chevron-left',
            next: 'fa fa-chevron-right',
            today: 'fa fa-screenshot',
            clear: 'fa fa-trash',
            close: 'fa fa-remove'
        }
    });
</script>
<script>
    var pay_usd = {{ pay_usd }}
    var pay_credit = {{ pay_credit }}
    var total_credit = {{ total_credit }}
    var current_credit = {{ current_credit }}
    $(function () {
        if(pay_credit <= 0){
            $("#h_msg").html("You have enough credits.")
            $("#btn_checkout").show()
            $("#btn_buycredit").hide()
        }else{
            $("#h_msg").html("Additional credits are required for this purchase.")
            $("#btn_checkout").hide()
            $("#btn_buycredit").show()
        }
        $("#btn_checkout").click(function(){
            $("#form_paycredit").submit();
        })
        $("#btn_buycredit").click(function(){
            location.href="/wallet?need=" + (total_credit-current_credit) + "&cart=giveaway"
        })
  })
</script>
{% endblock extra_scripts %}