{% extends "core/base.html" %}
{% load static %}
{% load cart_template_tags %}
{% load crispy_forms_tags %}

{% block extra_css %}

<link href="{% static 'assets\libs\bootstrap-switch\dist\css\bootstrap3\bootstrap-switch.min.css' %}"  rel="stylesheet">
<style>
    .tr-disable{
        background-color: #1c1f278c;
    }
    .bootstrap-switch .bootstrap-switch-handle-off, .bootstrap-switch .bootstrap-switch-handle-on, .bootstrap-switch .bootstrap-switch-label{
        padding: 4px 12px;
    }
</style>
{% endblock extra_css %}

{% block content %}

    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <!-- Column -->
            <!-- TODO replace with datatables eventually -->
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div>
                            {% if items %}
                        
                            <h3 class="mb-4">Giveaway items</h3>
                            <div class="table-responsive">
                                <div id="zero_config_wrapper"
                                    class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                    
                                    <div class="row" style="margin-left: 0; margin-right: 0;">
                                        <div class="col-sm-12">
                                            <table class="table product-overview dataTable no-footer" id="zero_config"
                                                role="grid" aria-describedby="zero_config_info">
                                                <thead>
                                                <tr role="row">
                                                    <th class="sorting" tabindex="0" aria-controls="zero_config" rowspan="1"
                                                        colspan="1" aria-label="Date: activate to sort column ascending"
                                                        style="width: 0px;">Title
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="zero_config" rowspan="1"
                                                        colspan="1" aria-label="Order ID: activate to sort column ascending"
                                                        style="width: 0px;">Value
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="zero_config" rowspan="1"
                                                        colspan="1" aria-label="Order ID: activate to sort column ascending"
                                                        style="width: 0px;">Fee
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="zero_config" rowspan="1"
                                                        colspan="1" aria-label="Actions: activate to sort column ascending"
                                                        style="width: 0px;">Available/Disable
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                {% for value in items %}
                                                    {% if value.available == True %}
                                                    <tr role="row">
                                                    {% else %}
                                                    <tr class="tr-disable" role="row">
                                                    {% endif %}
                                                        <td>{{ value.title }}</td>
                                                        <td>${{ value.giveaway_value }}</td>
                                                        <td>${{ value.giveaway_fee }}</td>
                                                        {% if value.available == True %}
                                                        <td id="td0_{{value.id}}"><input type="checkbox" class="disable-switch" checked/></td>
                                                        {% else %}
                                                        <td id="td0_{{value.id}}"><input type="checkbox" class="disable-switch"/></td>
                                                        {% endif %}
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% else %}
                            <h4> No giveaway items</h4>
                            {% endif %}
                        </div>


                        <div class="mt-5">
                            {% if slots %}
                        
                            <h3 class="mb-4">Community Giveaway Items</h3>
                            <div class="table-responsive">
                                <div id="zero_config_wrapper"
                                    class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                   
                                    <div class="row" style="margin-left: 0; margin-right: 0;">
                                        <div class="col-sm-12">
                                            <table class="table product-overview dataTable no-footer" id="zero_config"
                                                role="grid" aria-describedby="zero_config_info">
                                                <thead>
                                                <tr role="row">
                                                    <th class="sorting" tabindex="0" aria-controls="zero_config" rowspan="1"
                                                        colspan="1" aria-label="Order ID: activate to sort column ascending"
                                                        style="width: 0px;">Title
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="zero_config" rowspan="1"
                                                        colspan="1" aria-label="Product: activate to sort column ascending"
                                                        style="width: 0px;">Available count
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="zero_config" rowspan="1"
                                                        colspan="1" aria-label="Quantity: activate to sort column ascending"
                                                        style="width: 0px;">Value
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="zero_config" rowspan="1"
                                                        colspan="1" aria-label="Quantity: activate to sort column ascending"
                                                        style="width: 0px;">Available/Disable
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                {% for value in slots %}
                                                {% if value.available == True %}
                                                <tr role="row">
                                                {% else %}
                                                <tr class="tr-disable" role="row">
                                                {% endif %}
                                                    <td>{{ value.title }}</td>
                                                    <td>{{ value.available_count }} / {{ value.total }}</td>
                                                    <td>${{ value.value }} per {{ value.points }} points</td>
                                                    {% if value.available == True %}
                                                    <td id="td1_{{value.id}}"><input type="checkbox" class="disable-switch" checked/></td>
                                                    {% else %}  
                                                    <td id="td1_{{value.id}}"><input type="checkbox" class="disable-switch"/></td>
                                                    {% endif %}
                                                    
                                                </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% else %}
                            <h4> No community giveaway items</h4>
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>
            <!-- Column -->
        </div>
    </div>
{% endblock content %}

{% block extra_scripts %}
<script src="{% static 'assets\libs\bootstrap-switch\dist\js\bootstrap-switch.min.js' %}"></script>

    <script>
        $(function(){
            $("input.disable-switch").bootstrapSwitch();
            $('input.disable-switch').on('switchChange.bootstrapSwitch', function (event, state) {
                td_id = $(this).closest('td').attr('id')
                kind = td_id.split('_')[0].split('td')[1]
                id = td_id.split('_')[1]
                if($(this).is(':checked')) {
                    value= 1
                } else {
                    value = 2
                }
                setAvailable(kind, id, value)
            });
        })
        
       function setAvailable(kind, id, value){
           $.ajax({
                type: "POST",
                url: "/slot/setdisable",
                data: {'kind': kind, 'id': id, "value": value},
                success: function (data) {
                    if (data.success == true) {
                        if(value == 1){
                            $("#td"+kind+"_"+id).closest("tr").removeClass('tr-disable')
                        }else{
                            $("#td"+kind+"_"+id).closest("tr").addClass('tr-disable')
                        }
                    } else {
                    }
                }
            })
       }
    </script>


{% endblock extra_scripts %}
